/* Headline in the opportunity's summary */
.unit_summary {
	background-color: #eee;
	background: -webkit-linear-gradient(#FFF, #EEE);	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFF, #EEE); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFF, #EEE);	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFF, #EEE); /* Standard syntax */

	padding: 10px;
	margin-bottom: 10px;
}

.unit_summary .sum_unit_headline {
	display: block;
}

.unit_summary .sum_unit_thumbnail {
	display: inline-block;
	margin-right: 10px;
}

.unit_summary .sum_unit_content {
	display: inline-block;
	width: 70%;
	vertical-align: top;
}

.unit_summary .unit_title {
	font-size: 1.5em;
}
